openapi: 3.0.0
info:
  title: BondMCP API
  version: v0.1.0
  description: |
    API for the BondMCP (Medical Common Protocol) project.
    Provides access to health insights, data ingestion, and medical AI functionalities.
    This is a preliminary specification and will be updated as the API evolves.
  contact:
    name: BondMCP Team
    url: https://bondmcp.com
    email: info@auroracapital.nl

servers:
  - url: https://api.bondmcp.com/v0
    description: Production API Server (v0)

paths:
  /ingest/oura:
    post:
      summary: Ingest Oura Ring data from CSV
      description: Allows users to upload their Oura Ring data in CSV format for processing and insight generation.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Oura Ring data CSV file.
      responses:
        '202':
          description: Data ingestion accepted for processing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: 
                    type: string
                    example: "Oura data received and queued for processing."
                  ingestion_id:
                    type: string
                    format: uuid
                    example: "123e4567-e89b-12d3-a456-426614174000"
        '400':
          description: Bad request (e.g., invalid file format).
        '401':
          description: Unauthorized.

  /insights/health:
    get:
      summary: Get personalized health insights
      description: Retrieves personalized health insights based on the user's ingested data.
      parameters:
        - name: user_id
          in: query
          required: true
          description: The unique identifier for the user.
          schema:
            type: string
      responses:
        '200':
          description: Successful retrieval of health insights.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                  insights:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: "sleep_quality"
                        summary:
                          type: string
                          example: "Your sleep quality has improved by 10% this week."
                        recommendations:
                          type: array
                          items:
                            type: string
                          example: ["Consider reducing screen time before bed.", "Try a consistent sleep schedule."]
        '401':
          description: Unauthorized.
        '404':
          description: User not found or no insights available.

  /labs/upload:
    post:
      summary: Upload lab results
      description: Allows uploading of lab results (e.g., bloodwork) in a structured format or PDF.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                lab_data: 
                  type: object # Or string for PDF base64, or multipart/form-data for file upload
                  description: Structured lab data or reference to uploaded file.
          # multipart/form-data: (Alternative for direct file upload)
          #   schema:
          #     type: object
          #     properties:
          #       user_id:
          #         type: string
          #       file:
          #         type: string
          #         format: binary
      responses:
        '202':
          description: Lab results accepted for processing.
        '400':
          description: Bad request.

  /supplements/recommendations:
    get:
      summary: Get supplement recommendations
      description: Provides supplement recommendations based on user data and goals.
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful retrieval of supplement recommendations.
          content:
            application/json:
              schema:
                type: object # Define schema for recommendations
        '401':
          description: Unauthorized.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

